<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_68-1/blob/main/Decision_Structure_Lab_2568_(sol).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Decision Structure Lab

Turn off AI: Tools -> Settings -> Hide generative AI features

**Q1**: What will the program print out?

```python
a = 30
b = 20
c = 40
print((a != b) or (b > c))
print((c > b) and (a > b))
```

In [ ]:
True
True

**Q2**: What will the program print out?
```python
x = 5
if x > 3:
    print("Hello")
else:
    print("Goodbye")
```

In [ ]:
Hello

**Q3**: What will the program print out?
```python
age = 18
if age >= 18:
    print("You can vote")

if age >= 30:
    print("You are old")
else:
    print("You are young")

print('Done')
```

In [ ]:
You can vote
You are young
Done

**Q4**: What will the program print out?
```python
score = 75
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else:
    print("F")
```

In [ ]:
C

**Q5**: What will the program print out?
```python
score = 95
if score >= 90:
    print("A")
if score >= 80:
    print("B")
if score >= 70:
    print("C")
else:
    print("F")
```

In [ ]:
A
B
C

**Q6**: What will the program print out?

```python
a = 5
b = 3
c = 7
if a > b and a > c:
    print("A is largest")
elif b > a and b > c:
    print("B is largest")
else:
    print("C is largest")
```

In [ ]:
C is largest

**Q7**: What will the followign code print out?

```python
x = 30
if x > 50:
    print("A")
elif x > 40:
    print("B")
elif x > 30:
    print("C")
else:
    print("D")
```

In [ ]:
D

**Q8**: What will the following code print out?
```python
x = 5
y = 7
z = 10
print(f"{x > z}, {z < y}, {x*2 == (y+z)}, {(x+z) != (1+y*2)}")
```

In [ ]:
False, False, False, False

**Q9**: What will the following code print out?
```python
value = 52
if value > 45:
    print("First", end='')
if value > 40:
    print("Second", end='')
if value > 35:
    print("Third", end='')
else:
    print("Fourth", end='')
```

In [ ]:
FirstSecondThird

**Q10**: What will the following code print out?
```python
name = 'Alice'
value = 10
if name == 'Anna':
    print('Hello', end = ',')
    if value > 20:
        print('Big', end='-')
    else:
        print('Small', end='-')
else:
    print('Hi', end = ':')
    if value < 15:
        print('Yes', end='-')
    else:
        print('NO', end='-')
print('Done')
```

In [ ]:
Hi:Yes-Done

**Q11**: จงเติมโค็ดในช่องว่างเพื่อให้โปรแกรมแสดงผล ```Hello``` ถ้า ```x``` มากกว่าหรือเท่ากับ 5

In [ ]:
x = 7
if x >= 5:
    print("Hello")

**Q12**: จงเติมโค็ดในช่องว่าง เพื่อแสดงผล ```Pass``` ถ้าคะแนนมากกว่าหรือเท่ากับ 60 ถ้าไม่ใช่ให้แสดงผล ```Fail```

In [ ]:
score = 75
if score >= 60:
    print('Pass')  #here
else:
    print('Fail')  #here

**Q13**: จงเติมโค็ดในช่องว่างเพื่อตรวจสอบว่าเลข (num) หารด้วยสอง และ สามลงตัว

In [ ]:
num = 12
if num % 2 == 0 and num % 3 == 0:
    print("Divisible by 2 and 3")

**Q14**: จงเติมโค็ดในช่องว่าง ให้แสดงผบ "Child" ถ้าอายุ (age) น้อยกว่า 13, "Teen" ถ้าอายุ อยู่ระหว่าง 13 กับ 19, และ "Adult" ถ้ามากกว่า 19:

In [ ]:
age = 15
if age < 13:
    print("Child")
elif 13 <= age and age <= 19:
    print("Teen")
else:
    print('Adult')

**Q15**: จงเติมตัวเลขในช่องว่างเพื่อให้โปรแกรมแสดงผล 'Here'. (มีหลายคำตอบ)

In [ ]:
num = 10 # here
if num > 19 and num < 9:
    print('Not here')
elif num <7:
    print('Not here')
elif num > 15:
    print('Not here')
else:
    print('here')

here

**Q16**: จงเติมตัวเลขในช่องว่างเพื่อให้โปรแกรมแสดงผลเป็น ```2```

In [ ]:
x = 5
y = 7
z = 6   # here
if x < y:
    if y < z:
        print("1")
    else:
        print("2")
else:
    if x < z:
        print("3")
    else:
        print("4")

2

**Q17**: จงเติมตัวเลขในช่องว่างเพื่อให้โปรแกรมแสดงผลเป็น ```Second```.

In [ ]:
num =  12    # fill in the value here
if num < 10 or num > 15:
    print('First')
else:
    if num % 2 == 0 and num <= 13:
        print('Second')
    else:
        print('Third')

Second

**Q18**: Even or Odd?

เขียนโปรแกรมที่รับตัวเลขจาก user และ print 'Even' ถ้า ตัวเลขที่เข้ามาเป็นเลขคู่ และ print 'Odd' ถ้าตัวเลขที่เข้ามาเป็นเลขขี่

Hint: สามารถใช้ ```% 2``` เพื่อบอกว่าเป็นเลขคู่คี่ได้

Example 1:
```
>Enter your number: 31
Odd
```
Example 2:
```
>Enter your number: 24
Even
```

In [ ]:
number = int(input('Enter your Number: '))
if number % 2 == 0:
  print('Even')
else:
  print('Odd')

**Q19**: Date formatting

เขียนโปรแกรมที่รับข้อมูล วัน (day), เดือน (month), ปี (year) และ format ('US', 'JP', 'TH') จาก user และ print วันเดือนปีตาม format ที่ได้มาดังต่อไปนี้

- The 'US' format = Month Day Year.

- The 'JP' format = Year Month Day.

- The 'TH' format = Day Month Year.

Input:

- ตัวเลข, วัน
- ตัวเลข, เดือน
- ตัวเลข, ปี
- string, format

Output:
- Date format ตามโจทย์บอก

Example 1:
```
>Enter day: 1
>Enter month: 10
>Enter year: 2024
>Enter format: US
Month 10 Day 1 Year 2024
```

Example 2:
```
>Enter day: 1
>Enter month: 10
>Enter year: 2024
>Enter format: JP
Year 2024 Month 10 Day 1
```

Example 3:
```
>Enter day: 1
>Enter month: 10
>Enter year: 2024
>Enter format: TH
Day 1 Month 10 Year 2024
```

In [ ]:
day = int(input('Enter day:'))
month = int(input('Enter month:'))
year = int(input('Enter year:'))
format = input('Enter format:')

if format == 'US':
    print(f'Month {month} Day {day} Year {year}')
elif format == 'JP':
    print(f'Year {year} Month {month} Day {day} ')
elif format == 'TH':
    print(f'Day {day} Month {month} Year {year}')

**Q20**: Cashier Program ver 2.

เขียนโปรแกรมที่รับจำนวน สิ้นค้าที่ลูกค้าซื้อ

สิ่งค้าที่มีคือ: Donut, Cupcake, และ Popcorn. Donut ราคา 10 บาทต่อชิ้น, Cupcake ราคา 20 บาทต่อชิ้น, และ Popcorn ราคา 40 บาทต่อชิ้น. คำนวนราคาของทั้งหมด และ คิดลดราคา ดังเงื่อนไขต่อไปนี้

ถ้าซื้อโดนัทอย่างน้อย 20 ชิ้นได้ลด 20% ของโดนัท (ลดเฉพาะโดนัทอย่างเดียว)
ถ้าซื้อคัพเค้กอย่างน้อย 10 ชิ้นได้ลด 10% ของคัพเค้ก (ลดเฉพาะคัพเค้กอย่างเดียว)
หมายเหตุ: สามารถได้ลดราคาทั้งสองอัน

**Input**:

- จำนวนของ donut, cupcake, and popcorn. เป็นจำนวนเต็ม

**Output**:

- ราคาก่อนลด ทศนิยมสองตำแหน่ง
- ราคาหลังลด ทศนิยมสองตำแหน่ง

**ข้อกำหนด**:
- ต้องใช้ **Named Constants**

Example
```
>Enter the number of donut: 30
>Enter the number of cupcake: 20
>Enter the number of popcorn:  5
The total payment befor discount is 900.00 baht.
The payment after discount is 800.00 baht.
```

```
>Enter the number of donut: 5
>Enter the number of cupcake: 20
>Enter the number of popcorn:  3
The total payment befor discount is 570.00 baht.
The payment after discount is 530.00 baht.
```

```
>Enter the number of donut: 10
>Enter the number of cupcake: 10
>Enter the number of popcorn:  5
The total payment befor discount is 500.00 baht.
The payment after discount is 480.00 baht.
```

In [ ]:
# Name Constants
DONUT_P = 10
CUPCAKE_P = 20
POPCORN_P = 40
DONUT_THRESHOLD = 20
CUPCAKE_THRESHOLD = 10
DONUT_DISCOUNT = 0.20
CUPCAKE_DISCOUNT = 0.10

donut = int(input('Enter the number of donut: '))
cupcake = int(input('Enter the number of cupcake: '))
popcorn = int(input('Enter the number of popcorn: '))

total = DONUT_P * donut + CUPCAKE_P * cupcake + POPCORN_P * popcorn

discount = 0
if donut >= DONUT_THRESHOLD:
   discount = discount + (DONUT_P * donut * DONUT_DISCOUNT)
if cupcake >= CUPCAKE_THRESHOLD:
   discount = discount + (CUPCAKE_P * cupcake * CUPCAKE_DISCOUNT)

total_final = total - discount

print(f'The total payment befor discount is {total:.2f} Bath.')
print(f'The payment after discount is {total_final:.2f} Bath.')

## Submission
- File -> Download -> Download .ipynb
- Upload to MS Teams