<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_68-1/blob/main/Decision_Lab_1_(sol).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Input/Output and Decision Lab 1

Turn off AI: Tools -> Settings -> Hide generative AI features

**Q1**: What is the output?
```python
num1 = 15
num2 = 4
result = num1 / num2
print(f"The result is: {result:.2f}")
```

In [ ]:
The result is: 3.75

**Q2**: What is the output?
```python
num = 1.23456
result = f"One = {num:.1f}. Two = {num:.2f}. Three = {num:.3f}"
print(result)
```

In [ ]:
One = 1.2. Two = 1.23. Three = 1.235

**Q3**: What is the output?

```python
x = 10
y = 3
z = 2
result = (x + y) * z - x / y
print(f"The result is: {result}")
```

In [ ]:
The result is: 22.666666667

**Q4**: What is the output?
```python
x = 3
y = 2
z = (x**x)%y + 5*3/2
print(f"{z:.3f}")
```

In [ ]:
8.500

**Q5**: What is the output?
```python
x = 0
x = x + 1
x = x + 2
x = x + 3
x + 4
print(x)
```

In [ ]:
6

**Q6**: What is the output?
```python
first = 5 > 3
second = 10 <= 7
third = 7 == 3
print(first, second, third, sep ='--')
```

In [ ]:
True--True--False

**Q7**: What is the output?
```python
x = 5
y = 7
if (x*2) > y:
  print("Greater", end =':')
print("Done")
```

In [ ]:
Greater:Done

**Q8**: What is the output?
```python
x = 20
y = 12
print(f"{x > y}, {x < y}, {x == y}, {x != y}")
```

In [ ]:
True, False, False, True

**Q9**: What is the output?

```python
x = 8 > 6
if x:
  print('A', end = ',')
if 7 > 3:
  print('B', end =',')
if 3 != 5:
  print('C', end =',')
print('x')
```

In [ ]:
A,B,C,x

**Q10**: What is the output?
```python
x = 1
if x == 1:
  x = x + 1
if x == 2:
  x = 3
if x != 3:
  x = 1+x*2
print(x)
```

In [ ]:
3

**Q11**: Fill in the blank so that the program print out 55

In [ ]:
string = "50"
num = int(string) + 5 #fill in the blank here
print(num)

**Q12**: Fill in the blank to properly format the f-string and print the person's name and age:

The answer should be
```
Alice is 30 years old.
```

In [ ]:
name = "Alice"
age = 30
print(f"{name} is {age} years old.")  # Fill here

**Q13**: Fill in the blank so that when the user enters `10.234` the program prints out `10.2340`.

In [ ]:
num = float(input('Enter a number:'))
print(f"{num::.4f}")

**Q14** What will the following code print out?
```python
a = 3
b = 7
total = a+b*5-4**2/2-1
print(total+1)
```

In [ ]:
30.0

**Q15** Correct the code to properly calculate and print the average of three numbers (15):

In [ ]:
num1 = 10
num2 = 15
num3 = 20
average = (num1 + num2 + num3) / 3
print(f"The average is: {average:.2f}") # It should print out 15

**Q16**: Fill in the blank to print "Hello" if x is greater than 5:

In [ ]:
x = 7
if x > 5:
  print("Hello")

**Q17**: เติมโค็ดในช่องว่างเพื่อคำนวณชั่วโมง นาที และวินาที จาก วินาทีทั้งหมด (ดูตัวอย่างด้านล่าง)

**Hint**:
- 1 hours = 60*60 = 3600 seconds. You can use `//` to get the full number of hours.

Minutes:
 - สามารถคำนวณนาทีโดยการเปลี่ยนค่าวินาทีทั้งหมด เป็นนาที แล้วหาว่าเหลือกี่นาทีหลังจากเปลี่ยนเป็นชั่วโมงแล้ว โดยสามารถใช้ `%` ได้
 - อีกวิธีคือ สามารถหาได้โดยการ หา วินาทีที่เหลือหลังจาก นับชมทั้งหมดไปแล้วจาก `total_score - hours*3600`


Example 1:
```
Enter a number of seconds: 1000
Hours: 0.00, minutes: 16.00, seconds = 40.00
```

Example 2:
```
Enter a number of seconds: 3666
Hours: 1.00, minutes: 1.00, seconds = 6.00
```

In [ ]:
total_second = float(input('Enter a number of seconds: '))
hours = total_second//60 #Calculate hours
minutes = ((total_second)%3600)//60 #Calculate remainng minutes
seconds = total_second % 60 # Calculate the remaining second
print(f"Hours: {hours:.2f}, minutes: {minutes:.2f}, seconds = {seconds:.2f} ")

**Q18**: BMI Calculator

จงเขียนโปรแกรมคำนวณค่า Body Mass Index (BMI) ผู้ใช้งานจะป้อน น้ำหนัก (kg) และส่วนสูง (m) และถ้า BMI มากกว่า 30 ให้ปริ้น "Overweight"

BMI formula:
BMI = $\frac{\text{weight (kg)}}{\text{(height (m))}^2}$

**Input:**

- Real number, weight in kilograms
- Real number, height in meters

**Output:**
- BMI ทศนิยมหนึ่งตำแหน่ง

**ข้อกำหนด**
- ต้องใช้ Named Constants

Example1:
```
>Enter your weight in kg: 70
>Enter your height in m: 1.75
Your BMI is 22.9
```

Example2:
```
>Enter your weight in kg: 120
>Enter your height in m: 1.80
Your BMI is 37.0
Overweight
```

In [ ]:
# Name Constant
OVERWEIGHT_THRESHOLD = 30

# Input
weight = float(input(">Enter your weight in kg: "))
height = float(input(">Enter your height in m: "))

# Process
BMI = weight / (height ** 2)

# Output
print(f"You BMI is {BMI:.1f}")
if BMI > OVERWEIGHT_THRESHOLD:
  print("Overweight")

**Q19**: Cashier Program


จงเขียนโปรแกรมคำนวณราคาสิ้นค้า โดยมีสิ้นค้าทั้งหมดสี่ชนิดดังนี้ cookie (5 baht), water (10 baht), soda (20 baht), and popcorn (30)

ถ้าราคาทั้งหมดมากกว่า 100 บาท จะได้ลดราคา 10%

Input:
- จำนวน cookie (int)
- จำนวน water (int)
- จำนวน soda (int)
- จำนวน popcorn (int)

Output:
- The total payment (2 decimal place)

Note:
- You must use $\texttt{Named constant}$.
- Name your variables meaningfully!

Example 1:

```
The number of cookie: 3
The number of water: 2
The number of soda: 0
The number of popcorn: 1
Total payment = 65 baht.
```

Example 2:
```
The number of cookie: 10  
The number of water: 2     
The number of soda: 5     
The number of popcorn: 1  
Total payment = 180 baht.
```

In [ ]:
# NAMED CONSTANT
COOKIE_P = 5
WATER_P = 10
SODA_P = 20
POPCORN_P = 30


# Input
cookie = int(input("The number of cookie: "))
water = int(input("The number of water: "))
soda = int(input("The number of soda: "))
popcorn = int(input("The number of popcorn: "))
# Process

total_payment = (COOKIE_P * cookie) + (WATER_P * water) + (SODA_P * soda) + (POPCORN_P * popcorn)
if total_payment >= 100:
  total_payment = total_payment * 0.9

# Output
print(f"Total payment = {total_payment} baht.")

**Q20**: Calculate the Average GPA of a Classroom

การทำงานของโปรแกรมมีดังต่อไปนี้:
- ถามผู้ใช้งานว่ามีกี่คนได้เกรด A, B, C, D, F
- คำนวณ GPA ทั้งหมดโดยการ คูณจำนวนนักเรียนแต่ละเกรดและนำมารวมกัน
- หาจำนวนนักเรียนทั้งหมด
- คำนวณค่าเฉลี่ย GPA จาก GPA ทั้งหมดหารด้วยจำนวนนักเรียนทั้งหมด
- ถ้าค่าเฉลี่ย GPA มากกว่า 2 ให้แสดงว่า ```Good```

**Input**:
- 5 integer for the number of students who received each letter grade.

**Output**:
- ตัวเลขจำนวนจริงเป็นสำหรับ ค่าเฉลี่ย GPA. จุดทศนิยมสองตำแหน่ง

**Note**:
- ต้องใช้ **NAME CONSTANT**.
- ตั้งชื่อตัวแปรให้เหมาะสม !

Example 1:
```
>Enter the number of A: 5
>Enter the number of B: 10
>Enter the number of C: 8
>Enter the number of D: 4
>Enter the number of F: 3
The average GPA of the classroom is: 2.33
Good
```
**Explanation**:
- The total GPA is `5*4 + 10*3 + 8*2 + 4*1 + 3*0 = 70`
- The total number of students is `5 + 10 + 8 + 4 + 3 = 30`
- The average is `70/30 = 2.33`
- 2.33 is greater than 2 so display ```good```

Example 2:
```
Enter the number of A: 0
Enter the number of B: 1
Enter the number of C: 3
Enter the number of D: 5
Enter the number of F: 1
The average GPA of the classroom is: 1.40
```

In [ ]:
# Named Constants
A_GRADE = 4
B_GRADE = 3
C_GRADE = 2
D_GRADE = 1
F_GRADE = 0

a_num = int(input("Enter the number of A: "))
b_num = int(input("Enter the number of B: "))
c_num = int(input("Enter the number of C: "))
d_num = int(input("Enter the number of D: "))
f_num = int(input("Enter the number of F: "))

total_GPA = (a_num * A_GRADE) + (b_num * B_GRADE) + (c_num * C_GRADE) + (d_num * D_GRADE) + (f_num * F_GRADE)
total_students = a_num + b_num + c_num + d_num + f_num
average_GPA = total_GPA / total_students

print(f"The average GPA of the classroom is: {average_GPA:.2f}")

if average_GPA >= 2:
  print("good")

## Submission
- File -> Download -> Download .ipynb
- Upload to Microsoft Teams