<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_68-1/blob/main/Dictionary_Lab_2568_(sol).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary Lab

**Turn off AI**

Tools > Setting > AI Assistance > Check Hide generative AI features

**Q1**: What will the following program print out?

```python
my_dict = {'Mary':1,'Mathil':2,'Mona':3}
print(my_dict['Mary'] + 2*my_dict['Mona'])
```

In [ ]:
7

**Q2**: What will the following program print out?

```python
dict1 = {'A':1,'B':2,'C':3}
dict1['A'] = 3
dict1['B'] = dict1['C']
dict1['Z'] = 5
print(dict1)
```

In [ ]:
{'A': 3, 'B': 3, 'C': 3, 'Z': 5}

**Q3**: What will the following program print out?

```python
my_dict = {'AAA': 'aaa', 'BBB':'bbb', 'ABB':'abb', 'CBA':'cba', 'abc':'ABC'}
target = 'ABC'
if target in my_dict:
    print('Yes')
else:
    print('No')
```

In [ ]:
No

**Q4**: What will the following program print out?

```python
my_dict = {'A':2,'B':5,'C':7,'D':10}
total = 0
for key in my_dict:
    total += my_dict[key]
print(total)
```

In [ ]:
24

**Q5**: What will the following program print out?

```python
my_dict = {'A':1,'B':2,'C':6,'D':8,'E':7}
total = 1
for key, value in my_dict.items():
    if value % 2 == 0:
        total *= 2
    else:
        total *= value
print(total)
```

In [ ]:
56

**Q6**: What will the following program print out?

```python
new_dict = {'2023':[],'2024':[]}
new_dict['2023'].append(1)
new_dict['2024'].append(10)
new_dict['2022'] = ['A','B','C']
print(new_dict)
```

In [ ]:
{'2023': [1], '2024': [10], '2022': ['A', 'B', 'C']}

**Q7**: What will the following program print out?

```python
sentences = "Cat cat dog cat dog Meow meow cat cat meow"
sentences = sentences.upper()
words = sentences.split()
my_dict = {}
for word in words:
    my_dict[word] = my_dict.get(word,0) + 1
print(my_dict)
```

In [ ]:
{'CAT': 5, 'DOG': 2, 'MEOW': 3}

**Q8**: Fill in the blank so that it prints out ``11``.

In [ ]:
my_dict = {'A': 1, 'B': 11, 'C': 111}
print(my_dict['B'])

11

**Q9**: Fill in the blank so that the program prints out `12`

In [ ]:
our_dict = {'A':'1','B':'2','C':10,'D':5}
print(our_dict['A'] + our_dict['B'])

12

**Q10**: Fill in the blank so that it prints out `30`.

In [ ]:
dict_list = {'Math':[10, 20, 30],
             'Science':[40, 50, 60],
             'English':[70, 80, 90]}

print(dict_list['Math'][2])

30

**Q11**: Fill in the blank so that it prints out `A`.

In [ ]:
users = {'Mary':{'age':20, 'gender':'F','grade':'B'},
         'John':{'age':30, 'gender':'M','grade':'A'},
         'Bob':{'age':25, 'gender':'M','grade':'C'}}

print(users['John']['grade'])

A

**Q12** Fill in the blanks so that the program print out `{'Anna': [30, 20], 'Bob': []}`

In [ ]:
scores = {'Anna':[],'Bob':[]}
scores['Anna'].append(30)
scores['Anna'].append(20)
print(scores)

{'Anna': [30, 20], 'Bob': []}

**Q13**: จงเติมโค็ดในฟังก์ชั่น `print_sum` เพื่อให้โปรแกรมแสดงค่าผลรวมของ payment ของแต่ละคนออกมาจาก dictinoary ที่ให้มาแล้วใน `main` ตามตัวอย่างด้านล่าง

```
First Payment
Anna: 30
Bob: 140
Second Payment
Alice: 120
Chris: 150
Mike: 10
```

In [ ]:
def print_sum(payments):
    for key in payments:
        print(f'{key}: {sum(payments[key])}')

def main():
    first = {'Anna':[10,20],
            'Bob':[20,30,40,50]
            }
    second = {'Alice':[30, 40, 50],
              'Chris':[50,100],
              'Mike':[10]
              }
    print('First Payment')
    print_sum(first)
    print('Second Payment')
    print_sum(second)

main()

**Q14**: Count vowels

สร้าง dictionary เพื่อนับจำนวนสระ (a, e, i, o, u) จาก input ที่ได้

**Input**
- string

**Output**
- A dictionary

**หมายเหตุ:**
- เติมโค้ดในฟังก์ชัน `count_vowels(input_string)` ซึ่งรับ string เข้ามาและส่งคืน dictionary
- เติมโค้ดในฟังก์ชัน `main()` ซึ่งรับข้อความจากผู้ใช้, เรียกใช้ `count_vowels(input_string)` และพิมพ์ผลลัพธ์
- ลำดับของ key ใน dictionary ที่แสดงผลไม่จำเป็นต้องเหมือนตัวอย่าง


**Example 1**

```
Enter input string: AaA eE i o uUuu
{'a': 3, 'e': 2, 'i': 1, 'o': 1, 'u': 4}
```

**Example 2**

```
Enter input string: Hello How are you? I'm fine thank you.
{'a': 2, 'e': 3, 'i': 2, 'o': 4, 'u': 2}
```

In [ ]:
def count_vowels(input_string):
    # Description: a function to create a dictionary of words and their counts
    # Args: input_string - text
    # Returns: a dictionary
    counts = {'a':0,'e':0,'i':0,'o':0,'u':0}
    for c in input_string.lower():
      if c in "aeiou":
        counts[c] += 1
    return counts

def main():
    user_input = input("Enter input string:")
    print(count_vowels(user_input))

main()

Enter input string:Hello How are you? I'm fine thank you.
{'a': 2, 'e': 3, 'i': 1, 'o': 4, 'u': 2}

**Q15**: Dictionary of even and odd


เขียนโปรแกรมที่รับข้อมูลจากผู้ใช้  โดยที่ข้อมูลนำเข้าเป็น ตัวเลขที่คั่นด้วยเครื่องหมายจุลภาค จากนั้นสร้าง dictionary ซึ่งประกอบด้วย list สองอันสำหรับเก็บตัวเลขคู่และตัวเลขคี่จากข้อมูลนำเข้า ตามตัวอย่างด้านล่าง

**Input**:
- A string

**Output**:
- A dictionary

**Notes**:
- `dict_even_odd(input_string)` function รับ string และส่ง dictionary ออกมาตามตัวอย่าง
- `main()` รับข้อมูลจากผู้ใช้เป็นตัวเลขหลายตัวคั่นด้วยจุลภาค, หลังจากนั้นเรียกใช้ `dict_even_odd(input_string)` และนำผลลัพท์ที่ได้มาเก็บไว้ในตัวแปร และปริ้นตัวแปรนั้น


**Example 1**:
```
Enter input string: 1
{'even': [], 'odd': [1]}
```

**Example 2**:
```
Enter input string: 1,3,5,8,10
{'even': [8, 10], 'odd': [1, 3, 5]}
```

**Example 3**:
```
Enter input string: 0,4,7,9,12
{'even': [0, 4, 12], 'odd': [7, 9]}
```

In [ ]:
def dict_even_odd(input_string):
    # A function to create a dict of even/odd lists
    # Args: input_string - a string of numbers separated by commas
    # Returns: A dict
    eo_dict = {'even':[],'odd':[]}
    input_string = input_string.split(',')
    for num in input_string:
      num = int(num)
      if num % 2 ==0:
        eo_dict['even'].append(num)
      else:
        eo_dict['odd'].append(num)
    return eo_dict

def main():
    user_query = input('Enter input string: ')
    result = dict_even_odd(user_query)
    print(result)

main()

Enter input string: 0,4,7,9,12
{'even': [0, 4, 12], 'odd': [7, 9]}