<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_68-1/blob/main/Old_Midterm_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Short Answer

**Q1**: What will the following program print out? Assume the user input 3 and 5.

```python
x = int(input('Enter x: '))
y = int(input('Enter y: '))

print(f'{x+y+10*5:.2f}, {x+y**2/2:.3f}')
```

**Q2**: Fill in the blanks so that the statement below print out the following:

```python
1 2 2.5 25
```
```
print(5 __ 2, 5 __ 2, 5 __ 2, 5 __ 2)
```

**Q3**: What will the following program output?

```python
if 10 < 5:
  print('a', end='')
else:
  print('b', end='')
if 10 > 5 and 5 > 20:
  print('c', end='')
elif 7 == 5 or 6 > 3:
  print('d', end='')
if 3%2 == 1:
  print('e', end='')
```

**Q4**: Fill a number in the blank (__) so that the following program print out 'D'

```python
num = __
if num >= 49:
  print('A')
else:
  if num < 45 or num > 60:
    print('B')
  elif num % 5 == 0 or num%2==0:
    print('C')
  else:
    print('D')
```

**Q5**: What will the following program print out?

```python
a = 'HELLO' == 'hello'
b = 'There' > 'THERE'

print(f'{a or not b}')
```

**Q6**: Fill in the blank so that the code print out 7 4 1

```python
for i in _____:
  print(i, end=' ')
```

**Q7**: What will the following code print out?

```python
x = 0
total = 0
while x < 2:
  x += 1
  for i in range(x):
    total += x
print(total)
```

**Q8**: What will the following code print out?

```python
y = 0
for num in [1, 5, 4, 7, 0]:
  for i in range(num, 3):
    y -= 1  
print(y)
```

**Q9**: Fix the error of the following code.

```python
x = input('Enter x:')
x /= 5
print(x, x+1)
```

**Q10:** Fill in the blank (_) so that the program print out 8.

```python
num = 10
count = 0
while num > 0:
  num = num _ 2
  count += num
print(count)
```

**Q11**: What will the following program print out?

```python
numbers = [5, 10, 15, 20, 77]
count = 0
for number in numbers:
  if number % 5 == 0 and number % 2 == 0:
    count += 3
  elif number % 5 == 0:
    count += 1
  elif number % 2 == 0:
    count -= 10
print(count)
```

**Q12**: What will the following program print out?

```python
target = 'j'  
count = 0
for word in ['a','A','z','Z','j','jJ']:
  if word > target:
    count += 1
print(count)
```

**Q13**: What will the following program print out?

```python
x = 0

while x < 3:
  for i in range(x+6, x+x, -2):
    print(i, end='- ')
  for j in range(x, x+1, 1):
    print(j, end='+ ')
  x += 2
```

**Q14**: What will the following program print out?

```python
count = 0
for i in range(5, 10, 2):
    for j in range(10, 1, -3):
        if (i + j)%2 == 0:
            count+=1
print(count)
```

**Q15**: What will the following program print out?

```python
for i in range(5):
    if i < 3:
        x = i
        while x > 0:
            print(f'{x}', end=' ')
            x -= 1
    else:
        for j in range(i,i*2+1,2):
            print(j, end=' ')
```

**Q16**: Fill in the blank so that the program outputs 9 and 6.

In [ ]:
x = 69
first = x _ 60
second = x _ 10
print(first, second)

**Q17**: What will the following code print out?
```python
num = 10
x = 5
num = x + num ** 2 /5 - x * 3
x = 10
print(num)
```

**Q18**: What will the following code print out? Assume inputs are 2 and 4 respectively.
```python
x = int(input('Enter a number '))
y = int(input('Enter a number: '))
print(f"Output = {10-y**x+10*3:.2f}")
```

**Q19**: What will the following program output?

```python
if 10 < 5:
  print('a', end='')
else:
  print('b', end='')
if 10 > 5 and 5 > 20:
  print('c', end='')
elif 7 == 5 or 6 > 3:
  print('d', end='')
if 3%2 == 1:
  print('e', end='')
```

**Q20**: What will the following program output?

```python
a = False
b = False
c = False

if a and not b and not c:
  print("First")
elif a or not b and not c:
  print("Second")
else:
  print("Third")
```

**Q21**: Fill in the blank so that the program print out 4 2 0 -2 -4

In [ ]:
for i in range(______):
  print(i, end=' ')

**Q22**: What will the code below print out?

```python
total = 0
for var in [1, 7, 10, 17, 20]:
  if var % 5 == 0:
    total += var
  else:
    total += 7
print(total)
```

**Q23**: What will the following code print out?
```python
count = 0
names = ['Adam','Sophia','Noah','Mary','Nico','John']
my_name = 'Nut'
for name in names:
  if my_name > names:
     count += 1
print(count)
```

**Q24**: What will the following code print out?
```python
numbers = [4, 2, 3, 0, 1]
temp = [0,0,0,0,0]
for i in range(len(numbers)):
  temp[i] = numbers[numbers[i]]
print(temp)
```

**Q25**: What will the following program output?

```python
num1 = 10
num2 = 8
num3 = 4

if num1 > num2 and (num2-num2) == 0:
  num2 = num2//2
if num3 < num2 or num2 / num1 != 0:
  num1 = num1 * 2
  num2 = num2 - num3
  num3 = num2 + num3
else:
  num3 = num3 * 2
  num1 = num3 - num1
  num2 = num2 + num2

print(num1, num2, num3)
```

**Q26**: What will the following program output?

```python
x = 1
for i in range(x, x*5, 2):
  if i > x:
    print(i, end=' ')
for i in range(x*10+2, x, -2):
  if i % 3 == 1:
    print(i, end=' ')
```

**Q27**: What will the following program print out?

```python
LIMIT = 40

num = 1
total = 0
count = 0

while total + num < LIMIT:
  total += num
  count += 1
  num *= 3

print(f'{total} {count}')
```

**Q28**: What will the following program output?

```python
total = 0
for num in range(5, 5):
  total += num
for num in range(0, 12, 3):
  total += num
for num in range(5, 1, -2):
  total += num
print(total)
```

**Q29**: What $\texttt{x}$ needs to be to make the following program output "Third"?

```python
x = _
if x > 10*2:
  print("First")
elif (x**2) + 5 > 20:
  print("Second")
elif (x%2==1) and (x+5) > 6:
  print("Third")
else:
  print("Fourth")
```

**Q30**: What will the code below print out?

```python
total = 0
for var in [1, 7, 10, 17, 20]:
  if var % 5 == 0:
    total += var
  else:
    total += 7
print(total)
```

**Q31**: Write the output of the following program:

```python
n = 2

while n >= 0:
  for i in range(n, n*3+1, 3):
    print(i, end=' ')
  for j in range(n + 2, n - 2, -2):
    print(j+1, end=' ')
  n -= 2
```

**Q32**: Write the output of the following program:

```python
count = 0
for i in range(1, 7, 2):
  for j in range(6, 0, -3):
    if (i+j) >= 6:
      count += 1
print(f"count = {count}")
```

**Q33**: Write the output of the following program:

```python
total = 0
for i in range(1, 6):
  if i % 2 == 0:
     for j in range(i//2,i):
        total += (i+j)%3
print(total)
```

**Q34**: Fill in the blanks so that the program outputs as shown below when the user enters 93784.

```python
>Enter total second: 93784
Day(s):1, Hour(s):2, Minute(s):3, Second(s):4
```

In [ ]:
MIN = 60
HOUR = MIN * 60
DAY = HOUR * 24
seconds = _________________________________________
days = seconds // DAY
hours = seconds // HOUR % 24
mins = seconds // MIN % 60
seconds = _________________________________________
print(f'Day(s):{days}, Hour(s):{hours}, ', end=' ')
print(f'Minute(s):{mins}, Second(s):{seconds}')

**Q35**: Given the code below

```python
value = 5
while value >= -5:
    print(value)
    value -= 2
```

Fill in the blank below so that the program output the same thing

In [ ]:
for ________________________________________________:
    print(value)

**Q36**: Fill in the blank so that the program print out 18.

In [ ]:
m = 0
for i in range(0, 10, ___________):
   m += i
print(m)

**Q37**: What will this program print out?
```python
num = 0
total = 1
while num < 8:
   num = num + 2
   total = total * 2
print(total)
```

**Q38**: What will this program print out?
```python
count = 0
for i in range(0, 6, 2):
   for j in range(3):
      if j >= i:
         count = count + 1
print(count)
```

**Q39**: Fill in the blank below so that the program add the two lists together and store the result in `seq1`.

The program will print out `[4, 3, 6, 9, 6]`.

In [ ]:
seq1 = [1, 2, 3, 4, 5]
seq2 = [3, 1, 3, 5, 1]
for i in range(len(seq1)):
  _____________________________
print(seq1)

**Q40**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
base = 1
for num in [1, 3, 4, 2, 9, 10]:
  if num % 2 == 0:
    base *= num
print(base)
```

**Q41**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้

```python
a = 10
b = 20
c = 40
if (a > 5) and not (c > b):
  print("First")
elif not (b > 10) or (a <= c):
  print("Second")
else:
  print("Third")
```

**Q42**: จงเติม code ในช่องว่างเพื่อให้ โปรแกรมรับข้อมูลจาก user แล้ว แสดงผลอย่างที่โชว์ด้านล่าง หมายเหตุตัวที่ขีดเส้นใต้คือข้อมูลที่ user พิมพ์เข้ามา
```
Enter weight: 70
Enter height: 1.7
Your BMI is 24.22
```

In [ ]:
prompt1 = _______________________
prompt2 = "Enter height: "
weight = float(input(prompt1))
height = float(input(_________))
print(f'Your BMI is {weight/height**2:.2f}')

**Q43**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
temp = 0
for i in range(1, 10, 2):
  temp = i
for j in range(1 , 5, 2):
  temp += j
print(temp)
```

**Q44**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้

```python
num = 5
total = 0
if num < 10:
  for i in range(1, num):
    total += 1
else:
  while num > 0:
    total += 2
    num = num - 1
print(total)
```

**Q45** จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
numbers = [2, -7, 10, 3, 4]
temp1 = -1
temp2 = 0
for i in range(len(numbers)):
  if numbers[i] > temp1:
    temp1 = numbers[i]
    temp2 = i
print(temp1, temp2)
```

**Q46**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
temp = 10
num = 15
while num > 0:
  if num % 2 == 1:
    temp += num
  num -= 3
print(temp)
```

**Q47**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้

```python
numbers = [2, 4, 8, 16, 32]
numbers[0] = numbers[1]
numbers[2] = numbers[0]*2
numbers[3]*2
print(numbers[0]+numbers[1]+numbers[2])
```

**Q48**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
count = 0
for num1 in range(1, 8, 3):
  for num2 in [2, 5, 3, 4]:
    if num1 > num2 and num2 % 2 == 0:
      count += 2
print(count)
```

**Q49**: จงเขียนโปรแกรมเพื่อคำนวณค่าของสมการนี้ $z = \frac{1}{2}\frac{(2x+2y)^2}{(x^2 + y^2)}$

**Q50**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้

```python
items = [5, 2, 9, 20, 3, 4]
for i in range(1, len(items)):
  if items[i] % 2 == 0:
    items[i] = items[i-1]*2
print(items)
```

**Q51**: จงเขียนเติม code ในช่องว่างเพื่อคำนวณค่าใช้จ่ายจาก จำนวนชั่วโมงคูณจำนวนงานคูณค่าใช้จ่ายต่อชม
```python
SHOP_COST = 50
PAYMENT_RATE = 20   #ค่าใช้จ่ายต่อชม.
text_hour = "Enter the number of hour: "
text_amount = "Enter the amount of work: "
hour = float(input(message_hour))
amount = int(input(message_amount))
total = _________________________________________
print(f"The total payment is {total:.2f}")
```

**Q52**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
total = 0
count = 5
while count > 1:
  count -= 2
  total += count
for num in [7, 5, 2, 1]:
  if num % 2 == 1:
    total -= num
print(total)
```

**Q53**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
num = 0
total = 1
while True:
  if num > 5:
    break
  num += 2
  total *= num
print(total)
```

**Q54**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
total = 0
for var in [1, 7, 10, 17, 20]:
  if var == 20:
    break
  if var % 5 == 0:
    total += var
  else:
    total += 7
print(total)
```

**Q55**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
value = 75
if value >= 60:
  print('Good',end=',')
else:
  print('Bad')
if value >= 70:
  print('Great',end=',')
if value >= 80:
  print('Excellent',end=',')
```

**Q56**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
total = 0
for i in range(1,5):
  for j in range(8, 1,-2):
    if i % 2 == 1 and j < 5:
      total += j
print(total)
```

**Q57**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
ng = 0
nb = 1
nn = 10
for num in [10, 5, 7, 8, 13]:
  if num > 3 and num < 9:
    ng += 1
  else:
    nb -= 3
  nn += 1
print(ng, nb, nn)
```

**Q58**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
num1 = 10
num2 = num1*2/5 + 10*5
num1 = num1%3 + num1//3
print(f'{num1:.1f}, {num2:.2f}')
```

**Q59**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
a = (10 > 20) or (30 < 20)
b = (20 == 10*2) and (30-10 < 20)
c = (a or b) or True
print(a, b, c)
```

**Q60**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้

```python
x = 1
if 10 > 5:
  x = 2
if x == 1:
  x += 1
else:
  x = 4
if x%3 == 0:
  print('A')
else:
  print('B')
```

**Q61**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้

```python
for i in range(3):
  print(i, end=':')
for j in range(2,4):
  print(j,end='/')
for k in range(5,0,-2):
  print(k, end=':')
print(i+j+k)
```

**Q62**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้

```python
x = 0
total = 0
while x < 5:
  total += (x*2)
  x += 1
print(x, total)
```

**Q63**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
count_1 = 0
count_2 = 1
for num in [10,20,30,40,50,1,2,12]:
  if 1 < num < 20:
    count_1 += 1
  if 20 <= num and num <= 40:
    count_2 *= 2
print(count_1, count_2)
```

**Q64**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
total = 0
count = 5
while count > 1:
  count -= 2
  total += count
for num in [7, 5, 2, 1]:
  if num % 2 == 1:
    total -= num
print(total)
```

**Q65**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
my_list = [5, 9, 13, 6, 8, 10]
my_list[0] = my_list[1] + 1
my_list[-1] + 5
print(f'{my_list[0]+my_list[1]}, {my_list[1]}, {my_list[5]}')
```

**Q66**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
items = [5, 2, 9, 20, 3, 4]
for i in range(1, len(items)):
  if items[i] % 2 == 0:
    items[i] = items[i-1]*2
print(items)
```

**Q67**: จงเขียนข้อมูลส่งออกของโปรแกรมต่อไปนี้
```python
count = 0
for num1 in range(1, 8, 3):
  for num2 in [2, 5, 3, 4]:
    if num1 > num2 and num2 % 2 == 0:
      count += 2
print(count)
```

**Q68:** ถ้าผู้ใช้งานได้ป้อนข้อมูล 2 แล้ว ผู้ใช้งานต้องป้อนข้อมูลอะไรต่อเพื่อให้โปรแกรมแสดงผล 10 ออกมา
```python
SPECIAL_A = 5
SPECIAL_B = 1
mode = int(input('Enter mode: '))
if mode == '1':
  A = int(input())
  print(f'{A*SPECIAL_A}')
elif mode == '2':
  B = int(input())
  print(f'{1+SPECIAL_B*B}')
```

**Q69**: จงเติม code ในช่องว่างเพื่อให้โปรแกรมแสดงผลเป็น 'xD'

In [ ]:
cond = (1 > 2) or ("Hello"=="Hello")
y = ______

if cond:
  print('x', end='')
  if y == "Mon":
    print('A')
  elif y == "Tue":
    print('D')
else:
  print('x',end='')
  if y == 10:
    print('B')
  else:
    print('C')

**Q70**: Fill in the blank so that the program print out the same result as the program below
```python
t = 1
while t < 7:
  print(t)
  t += 2
```

In [ ]:
for x in range(...):
  print(x)

**Q71**: Fill in the blank so that the program print out `3 -5`

In [ ]:
ng = 0
nb = 1
for num in [10, 5, 7, 8, 13]:
  if num < 9:
    ng += ...
  else:
    nb -= ...
print(ng, nb)

**Q72**: จงเติมโค้ดในช่องว่างเพื่อให้โปรแกรมแสดงผลเป็น 'Done' เมื่อ user พิมพ์ว่า 'q' หรือ 'Q'

In [ ]:
while True:
  query = input('Enter query: ')
  if query == 'q' or query == 'Q':
    ________
  else:
    print('Not done')
print('Done')

**Q73** จงเติมโค้ดในช่องว่างเพื่อให้โปรแกรม เพื่อให้โปรแกรมแสดงผลเป็น 'C'

In [ ]:
num = __
if num >= 49:
  print('A')
else:
  if num < 45 or num > 60:
    print('B')
  elif num % 5 == 0 or num%2==0:
    print('C')
  else:
    print('D')

**Q74**: จงเติมโค้ดในช่องว่างเพื่อให้โปรแกรม เพื่อให้โปรแกรมแสดงผลเป็น `1:C-2:B-3:A-`

In [ ]:
count = 0
lst = ['A','B','C']
for i in range(len(lst)):
  print(f"_____________", end='-')

## Programming

**Q**: Behavior Score

จงเขียนโปรแกรมเพื่อคำนวณและจัดประเภทคะแนนพฤติกรรมของผู้ใช้
โปรแกรมจะรับคะแนนพฤติกรรมเริ่มต้นก่อน

ถัดไป โปรแกรมจะรับจำนวนเต็ม $n$ ซึ่งแทนจำนวนครั้งที่ผู้ใช้ได้รับการหักคะแนน

หลังจากนั้น โปรแกรมจะรับจำนวนเต็ม $n$ ตัว สำหรับการหักคะแนน คะแนนพฤติกรรมเริ่มต้นจะถูกลดลงด้วยผลรวมของการหักคะแนนทั้งหมด
สุดท้าย คะแนนที่เหลือจะถูกจัดประเภทตามเกณฑ์ดังนี้:

- หากคะแนนอย่างน้อย 80 เกรดของคุณคือ Excellent

- หากคะแนนอยู่ระหว่าง 60 ถึง 79 (รวม) เกรดของคุณคือ Good

- หากคะแนนต่ำกว่า 60 เกรดของคุณคือ Bad

**Input**:

- จำนวนเต็มสำหรับคะแนนพฤติกรรมเริ่มต้น
- จำนวนเต็ม $n$ สำหรับจำนวนคะแนนการทดสอบ
- จำนวนเต็ม $n$ ตัว สำหรับคะแนนการทดสอบ

**Output**:

- แสดงคะแนนพฤติกรรมที่เหลือและเกรดของคะแนนพฤติกรรมของคุณ

Example
```
Enter the intial behavior score: 100
Number of penalties: 3
Enter penalty: 10
Enter penalty: 10
Enter penalty: 15
The remaining behavior score is 65 and the grade is Good.
```

```
Enter the intial behavior score: 120
Number of penalties: 5
Enter penalty: 20
Enter penalty: 30
Enter penalty: 15
Enter penalty: 10
Enter penalty: 5
The remaining behavior score is 40 and the grade is Bad.
```

**Q** Cashier Program Ver 3

ยินดีต้อนรับสู่โปรแกรม cashier อีกครั้ง คราวนี้เรากำลังขายผลิตภัณฑ์อาหารดังนี้: ไข่ (ละ 5 บาท) และนม (ละ 20 บาท) สิ่งสำคัญคือเราขายเป็นโหล (12 ชิ้นต่อ order)

ลูกค้าสามารถได้รับส่วนลดตามเงื่อนไขต่อไปนี้

* หากซื้อไข่อย่างน้อย 50 ฟอง จะได้รับส่วนลด 30% สำหรับไข่
* หากซื้อนมอย่างน้อย 75 กล่อง จะได้รับส่วนลด 20% สำหรับนม
* หากซื้อไข่อย่างน้อย 100 ฟอง และนม 100 กล่อง จะได้รับส่วนลดเพิ่มอีก 100 บาท

สุดท้าย ลูกค้าต้องจ่าย sale tax 10% ของยอดรวมที่คำนวณหลังจากโปรโมชั่นทั้งหมด

**Input**
* ไข่ (เป็นโหล)
* นม (เป็นโหล)

**Output**
* ยอดรวมก่อนส่วนลดและ sale tax ทั้งหมด ทศนิยม 2 ตำแหน่ง
* ยอดเงินหลังส่วนลดทั้งหมดแต่ก่อน sale tax ทศนิยม 2 ตำแหน่ง
* ยอดเงินสุดท้ายหลังส่วนลดทั้งหมดและ sale tax

**หมายเหตุ**
* ใช้ Named Constant

Example

```
Enter the number of eggs (dozen): 1
Enter the number of milks (dozen): 5
The original payment is 1260.00 Baht.
The payment after discount is 1260.00 Bath.
The final payment is 1386.00 Bath.
```

```
Enter the number of eggs (dozen): 10
Enter the number of milks (dozen): 10
The original payment is 3000.00 Baht.
The payment after discount is 2240.00 Baht.
The final payment is 2464.00 Baht.
```

```
Enter the number of eggs (dozen): 5
Enter the number of milks (dozen): 5
The original payment is 1500.00 Baht.
The payment after discount is 1410.00 Baht.
The final payment is 1551.00 Baht.
```

```
Enter the number of eggs (dozen): 3
Enter the number of milks (dozen): 10
The original payment is 2580.00 Baht.
The payment after discount is 2100.00 Baht.
The final payment is 2310.00 Baht.
```

**Q** Let's make milk puddings

มาซื้อไข่และนมเพิ่มเติมเพื่อทำพุดดิ้งนมกันเถอะ!
ในการทำพุดดิ้งใหญ่ 1 อัน ต้องใช้ไข่ 10 ฟอง และนม 3 ขวด ครั้งนี้ input จะเป็นราคาไข่ ราคานม และจำนวนพุดดิ้งที่เราต้องการทำ เหมือนเดิม คุณจะได้รับส่วนลดถ้าซื้อไข่และนมจำนวนมากตามเงื่อนไขดังนี้

* ถ้าซื้อไข่อย่างน้อย 30 ฟอง จะได้ส่วนลด 20% สำหรับไข่
* ถ้าซื้อนมอย่างน้อย 20 ขวด จะได้ส่วนลด 10% สำหรับนม

แสดงค่าใช้จ่ายทั้งหมด

**input**
* ราคาไข่
* ราคานม
* จำนวนพุดดิ้งที่จะทำ

**Output**
* ค่าใช้จ่ายทั้งหมดเดิม (แสดงทศนิยม 2 ตำแหน่ง)
* ค่าใช้จ่ายหลังหักส่วนลด (แสดงทศนิยม 2 ตำแหน่ง)

**หมายเหตุ**
* ใช้ Named Constant

Examples
```
Enter the price of an egg: 5
Enter the price of milk: 20
Enter the number of pudding to be made: 10
The original cost is 1100.00
The discounted cost is 940.00
```

```
Enter the price of an egg: 10
Enter the price of milk: 20
Enter the number of pudding to be made: 2
The original cost is 320.00
The discounted cost is 320.00
```

```
Enter the price of an egg: 10
Enter the price of milk: 30
Enter the number of pudding to be made: 20
The original cost is 3800.00
The discounted cost is 3220.00
```

**Q**: Container Shipment Ver 2

จงเขียนโปรแกรมเพื่อคำนวณน้ำหนักทั้งหมดของกล่อง container n กล่อง  โดยที่กล่อง container แต่ละกล่องนั้นจะมี กล่อง package สิ้นค้า อยู่ทั้งหมด m ชนิด ซึ่งในแต่ละชนิดนั้น user จะป้อนข้อมูล จำนวนและน้ำหนักของสิ้นค้าชนิดนั้นๆ สุดท้าย user จะป้อนข้อมูล จำนวนกุญแจเหล็กที่จะใช้ล็อคกล่องทั้งหมดเข้ามา โดยกุญแจเหล็กนั้นเรามีจัดให้ไว้แล้วโดยที่แต่ละอันนั้นจะมีน้ำหนักเท่ากับ 50kg.

สำหรับข้อนี้ จะต้องเติม โค็ดส่วนที่ขาดหายไป ในกระดาษคำตอบให้ครบถ้วน

ในการทำโปรแกรมนี้ มีขั้นตอนต่อไปนี้
1. กำหนดค่า Named Constant ของ กุญแจเหล็ก (LOCK_WEIGHT) เท่ากับ 50
2. รับข้อมูลจำนวน container เข้ามา เป็นจำนวนเต็ม ต้องเช็คว่า ข้อมูลจะต้องมากกว่า 0
3. รับข้อมุลจำนวน package แต่ละกล่องเข้ามา เป็นจำนวนเต็ม
4. ตั้งค่าตัวแปร มาเก็บค่าน้ำหนักทั้งหมดของ container ไว้ (total_container)
5. วนรูปตามจำนวนของ container
  - แสดงข้อความว่า เป็น container ที่เท่าไร
  - ตั้งค่าตัวแปร มาเก็บค่าน้ำหนักทั้งหมดของ package ไว้ (total_package)
  - วนรูปตามจำนวนของ package เพื่อคำนวณน้ำหนัก
    - รับค่าน้ำหนักของ สิ้นค้ามา เป้นจำนวนจริง
    - รับจำนวนของ สิ้นค้ามา เป็นจำนวนเต็ม
    - เพิ่มค่าน้ำหนักของ package ทั้งหมด โดยผลคูณของน้ำหนักและจำนวนสิ้นค้า
  - แสดงผลน้ำหนักทั้งหมดของทุก packages จุดทศนิยมสองตำแหน่ง
  - เพิ่มค่าน้ำหนักของ package ทั้งหมด ลงไปที่น้ำหนักของ container ทั้งหมด
6. แสดงผลน้ำหนักทั้งหมดของทุก container รวมกัน จุดทศนิยมสองตำแหน่ง
7. รับจำนวน กุญแจเหล็ก (n_locker) ที่จะใช้
8. หาน้ำหนักทั้งหมด จาก น้ำหนักของ container
9. ทั้งหมดรวมกับน้ำหนักของกุญแจเหล็กทั้งหมด
10. แสดงผลน้ำหนักทั้งหมด จุดทศนิยมสองตำแหน่ง

ตัวอย่างการรัน 1

```
Enter the number of containers: 2
Enter the number of packages per container: 2

Container 1:
Enter the weight of package 1: 10
Enter the amount of package 1: 3
Enter the weight of package 2: 20
Enter the amount of package 2: 2
Total packages' weight = 70.00

Container 2:
Enter the weight of package 1: 5
Enter the amount of package 1: 2
Enter the weight of package 2: 10
Enter the amount of package 2: 3
Total packages' weight = 40.00
Total container's weight = 110.00
Enter the the number of locker: 5
The total weight is 360.00
```

ตัวอย่างการรัน 2
```
Enter the number of containers: -1
Enter the number of containers: 1
Enter the number of packages per container: 2

Container 1:
Enter the weight of 1 package: 20
Enter the amount of 1 package: 2
Enter the weight of 2 package: 30
Enter the amount of 2 package: 2
Total packages' weight = 100.00
Total container's weight = 100.00
Enter the weight of locker: 1
The total weight is 150.00
```

In [ ]:
LOCK_WEIGHT = _____

while True:
  n_container = int(input('Enter the number of containers: '))
  if ___________________:
     ___________________

message = ______________________________________________________
n_package = int(input(message))

total_container = ___________________
for i in range(_____________________):
  print()
  print(f'Container {i+1}:')

  ___________________________________
  for j in range(1, n_package+1):
    weight = float(input(f'Enter the weight of package {j}: '))
    amount = float(input(f'Enter the amount of package {j}: '))
    total_package ____________________________________________

  print(f"Total packages' weight = {total_package:.2f}")
  total_container ____________________________________________

______________________________________________________________

n_locker = float(input('Enter the weight of locker: '))

total_weight = _______________________________________________

______________________________________________________________

**Q**: Restuarant Cost Calculator

จงเขียนโปรแกรมคำนวณค่าใช้จ่ายของร้านขายอาหาร โดยที่ค่าใช้จ่ายประกอบไปด้วยสามส่วน

1. ค่าจานทั้งหมด จำนวนจานนั้นจะขึ้นอยู่กับเมนูอาหาร โดยโปรแกรมจะถาม user ก่อนว่า มีทั้งหมดกี่เมนูและแต่ละเมนูใช้กี่จาร โดยราคาจานนั้นเป็นค่าที่ตั้งมาแล้วคือ 20 บาทต่อจาน

2. ราคาวัตถุดิบอาหาร ประกอบไปด้วยจำนวนและราคาของวัตถุดิบแต่ละชนิด ซึ่งถูกกำหนดไว้แล้วใน list สองอัน AMOUNT กับ COST โดยที่ AMOUNTi คือจำนวนของ i และ COSTi คือราคาของ i.
  - AMOUNT = [10, 20, 30, 40, 50]
  - COST = [2, 5, 3, 10, 1]

  ถ้าราคาวัตถุดิบอาหาทั้งหมดนั้นมากกว่า 500 บาท จะได้ลดราคา ซึ่งเปอร์เซ็นการลดราคาจะรับมาจาก user และจะต้องเช็คว่า เปอร์เซ็นต้องมากกว่า 0.

3. ราคาสถานที่ 500 บาท

**Input**:
- เปอร์เซ็นการลดราคา เป็นจำนวนจริง
- จำนวนเมนู เป็นจำนวนเต็ม
- จำนวนจานของแต่ละเมนู เป็นจำนวนเต็ม

**Output**:
- ราคาจานทั้งหมด เป็นทศนิยมสองตำแหน่ง
- ราคาวัตถุดิบทั้งหมด หลังลดราคาแล้ว เป็นทศนิยมสองตำแหน่ง
- ราคาทั้งหมด เป็นทศนิยมสองตำแหน่ง

ตัวอย่างการรันที่ 1
```
Enter discount (%): 10
Enter the number of menus: 3
Enter the number of dishes for menu 1: 5
Enter the number of dishes for menu 2: 7
Enter the number of dishes for menu 3: 10
The total dish cost is 440.00
The total ingredient cost is 594.00
The total cost is 1534.00
```

ตัวอย่างการรันที่ 2
```
Enter discount (%): -20
Invalid Discount.
Enter discount (%): 20
Enter the number of menus: 3
Enter the number of dishes for menu 1: 20
Enter the number of dishes for menu 2: 30
Enter the number of dishes for menu 3: 40
The total dish cost is 1800.00
The total ingredient cost is 528.00
The total cost is 2828.00`
```

**Q**: Class Average and Overall Average

จงเขียนโปรแกรมเพื่อหาค่าเฉลี่ยของแต่ละห้องเรียนและของนักเรียนทั้งชั้นปี และหาว่ามีกี่ห้องที่เกรดเฉลี่ยมากกว่า 2.00. โดยโปรแกรมนี้จะรับค่า จำนวนห้องเรียนทั้งหมดของชั้นปี และ จำนวนนักเรียนแต่ละห้อง หลังจากนั้น หลังจากนั้น user จะป้อนค่าของนักเรียนแต่ละคนสำหรับแต่ละห้อง ต้องเช็คว่าจำนวนห้องที่ได้รับจาก user มีค่าอยู่ระหว่าง 1 ถึง 5. โปรแกรมจะต้องคำนวณค่าเฉลี่ยแต่ละห้องและทั้งหมดและหาว่ากี่ห้องมีเกรดเฉลี่ยมากกว่า 2.00 และแสดงผลตามตัวอย่าง

**Input**:
- จำนวนห้องเรียน เป็นจำนวนเต็ม
- จำนวนนักเรียนต่อห้อง เป็นจำนวนเต็ม
- จำนวนคะแนนของนักเรียนแต่ละคน

**Output**:
- ปริ้นข้อความแต่ละคลาสตามตัวอย่าง
- คะแนนเฉลี่ยนของแต่ละห้อง
- คะแนนเฉลี่ยทั้งหมดของนักเรียนทั้งชั้นปี
- จำนวนห้องที่เกรดมากกว่าที่กำหนด


ตัวอย่างการรันที่ 1
```
Enter #Class: 2
Enter #Student per class: 2
Class #1
Enter student 1 score: 4
Enter student 2 score: 3
The class #1 average is 3.50
Class #2
Enter student 1 score: 2
Enter student 2 score: 1
The class #2 average is 1.50
The overall average is 2.50
The number of classes above the threshold is 1
```

**Q1**: Compound Interest

Write a program that calculates the final amount after continuous compound interest is applied.

The formula is: $A = P × e^{(rt)}$

A is the final amount, P is the principal (initial investment), r is the annual interest rate (in decimal form), t is the time in years, and e is Euler's number (approximately 2.7183).

**Input**:
- the principal, P. Real number
- the annual interest rate, r. Real number
- the time in years, t. Integer number

**Output**:
- The final amount. Two decimal places.

**Requirements**:
- Must use Named Constants

**Example**: (ขีดเส้นใต้คือข้อมูลนำเข้า)
```
Enter the principal: 1000
Enter the annaual interate rate: 0.05
Enter time (years): 10
The final amount is 1648.73
```

**Q2**: Cashier Ver 4

จงเขียนโปรแกรมเพื่อคำนวณราคาสิ้นค้าทั้งหมด ร้านค้าขายของอยู่สองชนิด: donut ชิ้นละ 20 บาท และ coffee แก้วละ 100 บาท ผู้ใช้งานจะป้อนจำนวน donut และ coffee เข้ามา ทางร้านค้ามีโปรโมชั่นลดราคาดังต่อไปนี้

เงื่อนไขการลดราคา
- ถ้าราคาของทั้งหมดอยู่ระหว่าง 500 - 1,000 บาทจะได้ลดราคา 100
- ถ้าราคาของทั้งหมดอยู่ระหว่าง 1,001 - 5,000 บาทจะได้ลดเพิ่มอีก 200 บาท
- ถ้าราคาของทั้งหมดมากกว่า 5,000 จะได้ลดเพิ่ม 10% ของราคาของที่เกิน 5,000

แสดงผลก่อนลดและหลังลดราคา  

**Input**:
- จำนวน donut เป็นจำนวนเต็ม
- จำนวน coffee เป็นจำนวนเต็ม

**Output**:
- ราคาก่อนลด จุดทศนิยมสองตำแหน่ง
- ราคาหลังลด จุดทศนิยมสองตำแหน่ง

**Example**: (ขีดเส้นใต้คือข้อมูลนำเข้า)

```
Enter #donut: 50
Enter #coffee: 50
Payment before discount: 6000
Payment after discount: 5600
```
คำอธิบาย: (50\*20 + 50\*100) - 100 - 200 - (1000)*0.1 = 5600

**Q3**: Guessing Game

จงเขียนเกมที่ให้ผู้เล่นสุ่ม index ของ SECRETS list โดยที่ผู้เล่นจะได้ คะแนนตามค่าในตำแหน่งของ index นั้น เมื่อ index นั้นถูกเลือกแล้วค่าที่ตำแหน่งนั้นจะเป็น -1. ถ้าผู้เล่นเลือกค่าที่น้อยกว่า 0 หรือเกิน 5 (index สุดท้ายของ list) จะได้คะแนน -10.

ในแต่ละตา ผู้เล่นมีสองตัวเลือก
1. เลือกเล่น โดยการพิมพ์ 'Play' หลังจากนั้นผู้เล่นสามารถพิมพ์ค่า index
2. เลิกเล่น โดยการพิมพ์ 'Quit'

หลังจากเลือกเล่น ให้แสดงคะแนนทั้งหมดออกมา

**ข้อมูลนำเข้า:**
- ข้อความ `Play` หรือ `Quit`
- ถ้าเลือก `Play`, ตัวเลขจำนวนเต็ม สำหรับ index

**ข้อมูลส่งออก:**
- คะแนนทั้งหมด เป็นจำนวนเต็ม

**ตัวอย่างที่ 1** (ขีดเส้นใต้คือข้อมูลนำเข้า)

```
Guess an index The Game
Type Play or Quit: Play
Guess an index: 0
Type Play or Quit: Play
Guess an index: 0
Type Play or Quit: Play
Guess an index: 20
Type Play or Quit: Play
Guess an index: 3
Type Play or Quit: Quit
Your final score is 5
```
คำอธิบาย: 13 -1 -10 + 3 = 5

In [ ]:
SECRETS = [13, 7, 25, 3, 10, 6]

**Q4**: Filtered Mean and Standard Deviation

จงเขียนโปรแกรมเพื่อคำนวณค่าเฉลี่ย (mean) และค่าค่าเบี่ยงเบนมาตรฐาน (standard deviation or std) จากข้อมูล n ค่า โดยที่ user จะป้อนตัวเลข n ก่อนหลังจากนั้นจะป้อนตัวเลขอีก n ตัว ถ้าตัวเลขที่ป้อนเข้ามามีค่าน้อยกว่า 0 หรือมากกว่า 10 เราจะไม่ใช้มาคำนวณค่าเฉลี่ยและค่าเบี่ยงเบน

Mean formula: $mu = \frac{\sum_ix_i}{n}$

Std formula: $std =\sqrt{\frac{\sum_ix_i^2}{n} - \mu^2}$

**ข้อมูลนำเข้า:**
- ตัวเลข n
- ตัวเลขจำนวนเต็มอีก n ตัว

**ข้อมูลส่งออก:**
- ค่าเฉลี่ย สองตำแหน่ง
- ค่าเบี่ยงเบนมาตรฐาน สองตำแหน่ง

**ข้อกำหนด:**
- ต้องใช้ Named Constant

**ตัวอย่างที่ 1** (ขีดเส้นใต้คือข้อมูลนำเข้า)
```
Enter n: 5
Enter a number: 20
Enter a number: -2
Enter a number: 5
Enter a number: 10
Enter a number: 3
mean = 6.00
std = 2.94
```

mean = (5+10+3)/3 = 6

$\frac{\sum_ix_i^2}{n} = (25 + 100 + 9)/3 = 44.67$

std = $\sqrt{44.67 - 6^2}$

**Q**: Converting seconds to MM:SS

เขียนโปรแกรมที่รับค่าวินาทีและแปลงเป็นรูปแบบ HH:MM:SS

**Input**
* จำนวนเต็มระหว่าง 0 - 3599 (ไม่ต้องตรวจสอบ)

**Output**
* แสดงผล 'MM:SS'


Example:
```
Enter the second: 5
00:05

```

```
Enter the second: 67
01:07
```

```
Enter the second: 3599
59:59
```