<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_68-1/blob/main/Repetition_Structures_Lab_(sol).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Repetition Structures Lab

Turn off AI: Tools -> Settings -> Hide generative AI features

**Q1**: What is the output of this program?
```python
x = 0
while x < 5:
    print(x)
    x += 1
```

In [ ]:
0
1
2
3
4
5

**Q2**: What is the output of this program?
```python
for i in range(3):
    print("Hello")
```

In [ ]:
Hello
Hello
Hello

**Q3**: What is the output of this program?
```python
for i in range(1, 10, 2):
    print(i, end=":")
```

In [ ]:
1:3:5:7:9

**Q4**: What is the output of this program?
```python
x = 3
while x > 0:
    print(x)
    x -= 2
while x < 2:
    print(x)
    x += 1
```

In [ ]:
3
1
-1
0
1

**Q5**: What is the output of this program?

```python
i = 1
while i <= 16:
    print(i, end=" ")
    i *= 2
```

In [ ]:
1 2 4 8 16

**Q6**: What is the output of this program?

```python
total = 0
count = 1
while count < 7:
    total += 1
    count += 1
print(count)
```

In [ ]:
7

**Q7**: What is the output of this program?

```python
total = 0
for i in range(1,10,2):
    total = total + i
print(i)
```

In [ ]:
9

**Q8**: What is the output of this program?

```python
for num in [1 , 7, 4, 20, 2]:
    if num % 2 == 0:
        break
    print(num,end=',')
```

In [ ]:
1,7

**Q9**: What is the output of this program?

```python
count = 0
numbers = [1, 2, 3, 4 ,5 ,6]
for num in numbers:
    if num%2==1:
        count += 1
print(count, num)
```

In [ ]:
3 6

**Q10**: What is the output of this program?

```python
target = 'AAA'
words = ['A','AA','AAA','AA','BBB','AAA','C','AAA']
n_target = 0
n_non_target = 0
for word in words:
    if word == target:
        n_target += 1
    else:
        n_non_target += 2
print(n_target, n_non_target)
```

In [ ]:
3 10

**Q11**: จงเติมตัวเลขในช่องว่างเพื่อให้โปรแกรมแสดงตัวเลข 0 ถึง 4

In [ ]:
for i in range(5):
    print(i)

**Q12**: จงเติมตัวเลขในช่องว่างเพื่อให้โปรแกรมพิมพ์ 'Welcome' 4 ครั้ง

In [ ]:
n = 4
for i in range(n):
    print('Welcome')

**Q13**: จงเติมตัวเลขในช่องว่างเพื่อให้โปรแกรมแสดงค่า 7 4 1

In [ ]:
for i in range(7,0,-3):
    print(i, end=' ')

**Q14**: จงเติมโค็ดในช่องว่างเพื่อให้โปรแกรมแสดงผล 0 1 2 3

In [ ]:
count = 0
while count < 10:
    print(count, end=' ')
    if count==3:  #Fill in your code here
        break
    count += 1

**Q15**: จงเติมค่าในช่องว่างเพื่อให้โปรแกรมแสดงตัวเลข 5 ถึง 1

In [ ]:
x = 5
while x > 0:
    print(x)
    x -= 1

**Q16**: จงเติมโค็ดในช่องว่างเพื่อจำนวนผลรวมยกกำหลังสองของตัวเลข 1 ถึง 10. $1^2 + 2^2 + 3^2 + 4^2 ... + 9^2 + 10^2$

In [ ]:
total = 0
for num in range(1, 11):
    total += (num**2)
print(total)

**Q17**: Fill in the blank so that the program prints out 20.

In [ ]:
count = 0
for num in range(10):
    if num % 2 == 0:
        count += num     # Fill in here
print(count)

**Q18**: Fill in the blank so that the program prints out 28.

In [ ]:
total = 0
x = 10
while x > 2: # Fill in here
    total += x
    x -= 2
print(total)

**Q19**: Calculate sum from user

เขียนโปรแกรมเพื่อคำนวณค่าผลรวมจากตัวเลขที่ผู้ใช้งานพิมพ์เข้ามา โปรแกรมจะถามผู้ใช้งานให้พิมพ์ตัวเลขเข้ามาเรื่อยๆ จนกระทั่งผู้ใช้งานใส่ค่า -999999. เมื่อจบแล้วให้พิมพ์ค่าผลรวมทั้งหมดออกมา

**Input**:
- integer numbers from users

**Output**:
- The sum of all number (not include -999999)

Example 1:
```
>Enter a number: 5
>Enter a number: 3
>Enter a number: 10
>Enter a number: -999999
The total is 18
```

Example 2:
```
>Enter a number: 20  
>Enter a number: -30
>Enter a number: -999999
The total is -10.
```

In [ ]:
total = 0
while True:
  number = int(input('>Enter a number: '))
  if number == -999999:
    break
  total += number
print(f'The total is {total}.')

**Q20**: Calculate salary with validation

เขียนโปรแกรมที่รับจำนวนชั่วโมง และเรทเงินเดือนต่อชม และแสดงผลเงินเดือนที่ได้หมดมา

สำหรับโปรแกรมนี้นั้น จะต้องตรวจสอบก่อนว่า ค่าจำนวนชมและเรท จะต้องไม่ติดลบ

คำใบ้: เช็คที่ละอัน มีสอง while loop แยกกัน

**Input**:
- Real number, the number of hour.
- Real number, rate per hour.

**Output**:
- Real number, your salary at two decimal places.



Example 1:
```
>Enter hours: 20
>Enter rate: 10
Your salary is 200.00
```

Example 2:
```
>Enter hours: -10
Invalid hours. Please reenter.
>Enter hours: -20
Invalid hours. Please reenter.
>Enter hours: 30
>Enter rate: 20
Your salary is 600.00
```

Example 3:
```
>Enter hours: -25
Invalid hours. Please reenter.
>Enter hours: 40
>Enter rate: -10
Invalid rate. Please reenter.
>Enter rate: 15
Your salary is 600.00
```

In [ ]:
hours = float(input(">Enter hours: "))
while hours < 0:
  print("Invalid hours. Please reenter.")
  hours = float(input(">Enter hours: "))

rate = float(input(">Enter rate: "))
while rate < 0:
  print("Invalid rate. Please reenter.")
  rate = float(input(">Enter rate: "))

salary = hours * rate
print(f"Your salary is {salary:.2f}.")