<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_68-1/blob/main/String_Lab_2568_(sol).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String Lab

**Q1**: What will the following code print out?

```python
my_str = "Hello There, How are you?"
print(my_str[0], my_str[5], my_str[10], my_str[-1])
```

In [ ]:
H   e ?

**Q2**: What will the following code print out?

```python
str1 = "Hello Where is this?"
print(str1[3:7])
print(str1[:4])
print(str1[len(str1)-4:])
```

In [ ]:
lo W
Hell
his?

**Q3**: What will the following code print out?

```python
seq = [5, 7, 9, 11, 6, 8, 10]
print(seq[1:3], seq[-1:-3:-1])
print(seq[4:])
print(seq[::-1])
```

In [ ]:
[7, 9] [10, 8]
[6, 8, 10]
[10, 8, 6, 11, 9, 7, 5]

**Q4**: What will the following program print out?

```python
her_string = 'How are you today?'
his_string = 'I am doing well.'
result = ('h' in her_string) or ('m' in his_string)
print(result)
```

In [ ]:
True

**Q5**: What will the following program print out?
```python
texts = ['AAA', 'BBB', 'CCC']
new_text = "-".join(texts)
print(new_text)
```

In [ ]:
AAA-BBB-CCC

**Q6**: What will the following program print out?

```python
ref = "This"
outcome = (ref*2).lower() + " " + ("SvD"*3).upper()
print(outcome)
```

In [ ]:
thisthis SVDSVDSVD

**Q7**: What will the following program print out?

```python
chars = 'AAaaABbbCcCddd'
total = 0
for char in chars:
    if char == 'A':
        total += 1
    if char == 'B':
        total += 2
    if char == 'C':
        total += 3
print(total)
```

In [ ]:
11

**Q8**: What will the following program print out?

```python
s = '  abcde  '
temp = s.strip()
print(temp)
temp = temp.lstrip('a')
print(temp)
temp = temp.rstrip('e')
print(temp)
print(s.strip().lstrip('a').rstrip('e'))
```

In [ ]:
abcde
bcde
bcd
bcd

**Q9**: What will the following program print out?

```python
numbers = "One Two Three Four Five Six"
one_index = numbers.find("One")
five_index = numbers.find("Five")
nine_index = numbers.find("Nine")

print(one_index)
print(five_index)
print(nine_index)
```

In [ ]:
0
19
-1

**Q10**: What will the following program print out?

```python
my_str = "One Two One Two one two one two"
your_str = my_str.replace("One","1")
his_str = your_str.replace('e',"E")
print(your_str)
print(his_str)
```

In [ ]:
1 Two 1 Two one two one two
1 Two 1 Two onE two onE two

**Q11**: What will the following program print out?

```python
str1 = "10//20//30//40"
temp = str1.split("//")
print(temp)
x = int(temp[0])
y = int(temp[3])
print(x+y)
print(temp[0]+temp[3])
```

In [ ]:
['10', '20', '30', '40']
50
1040

**Q12**: What will the following program print out?

```python
target1 = "12345"
target2 = "abc44"
target3 = "ABcc"

print(target1.isdigit())
print(target2.isdigit())
print(target3[:2].isupper())
print(target2[3:].isdigit())
```

In [ ]:
True
False
True
True

**Q13**: What will the following program print out?

```python
temp = '1 2 3 4 5'
temp = temp.split(' ')
x = 0
y = ''
for num in temp:
    x += int(num)
    y += num
print(x, y)
```

In [ ]:
15 12345

**Q14**: Fill in the blank so that the program print out $\texttt{Wrd}$

In [ ]:
my_string = "Hello"
your_string = my_string + " World" + my_string
print(your_string[6:11:2])

Wrd

**Q15**: Fill in the blank so that the program print out `Hello Alice, How are you? Today is Sunday.`

In [ ]:
def print_thing(name, day):
    msg = f"Hello {name},"
    msg += f" How are you? "
    msg += f"Today is {day}"
    print(msg)

print_thing("Alice", "Sunday")

Hello Alice, How are you? Today is Sunday

**Q16**: Fill in the blank so that the program print out `['1', '2', '3', '4', '5']`

In [ ]:
my_string = "1,2,3,4,5"
string_lst = my_string.split(',')
print(string_lst)

['1', '2', '3', '4', '5']

**Q17**: Find the sum from a given string

จงเขียนฟังก์ชัน `sum_from_string(string)` ซึ่งรับตัวเลขหลายๆตัวคั่นด้วยช่องว่างเข้ามาเป็น string เช่น `10 30 50 10 31` แล้ว ส่งค่ากลับเป็น ผลรวมของตัวเลขทั้งหมด โดยที่ฟังก์ชัน `main` ให้มาแล้วซึ่งรับข้อมูลนำเข้าจากผู้ใช้งาน

Example 1:
```
Enter numbers: 1 2 3 4
Total = 10
```

Example 2:
```
Enter numbers: 10 30 50 10 31
Total = 131
```

In [ ]:
def sum_from_string(string):
    # Args: string - numbers separated by spaces as a string
    # Return: total - the sum of all numbers.
    # Fill in your code here
    str_list = string.split()
    total = 0
    for num in str_list:
      total+=int(num)
    return total

def main():
    numbers = input('Enter numbers: ')
    total = sum_from_string(numbers)
    print(f'Total = {total}')

main()

Enter numbers: 10 30 50 10 31
Total = 131

**Q18**: Defanging an IP Address

จงเขียนฟังก์ชั่น `defang(ip)` ซึ่งรับ ip address (e.g., 1.1.1.1) เข้าไปแล้วส่ง ip ที่เป็น defanged version คือ "." ถูกแทนที่ด้วย "[.]" ออกมา. `main()` ให้มาแล้ว

**เพิ่มเติม**: ลองทำข้อนี้มากกว่าหนึ่งวิธี


Example 1:
```
Enter IP address: 1.1.1.1
1[.]1[.]1[.]1
```

Example 2:
```
Enter IP address: 255.100.50.0
255[.]100[.]50[.]0
```

In [ ]:
def defang(ip):
    # Args: ip (string)
    # Returns: defanged ip (string)
    # fill in your code here

    return ip.replace('.','[.]')

def main():
    ip = input('Enter IP address: ')
    print(defang(ip))

main()

Enter IP address: 255.100.50.0
255[.]100[.]50[.]0

**Q19**: Check first and last

จงเขียนฟังก์ชัน `check_first_last(string, target)` ซึ่งรับค่าสตริงสองตัว: `string` และ `target` และส่งคืนค่าสองค่า: ว่า `string` ขึ้นต้นด้วย `target` หรือไม่ (`True` หรือ `False`) และว่า `string` ลงท้ายด้วย `target` หรือไม่ (`True` หรือ `False`)

**ข้อกำหนด**
- **ใช้ slicing เพื่อแก้ปัญหานี้** ลองคิดว่าคุณจะตัดส่วนต้นและส่วนท้ายของ `string` อย่างไรเพื่อให้มีความยาวเท่ากับ `target`
- ฟังก์ชัน `main()` มีให้แล้ว

Example 1
```
Enter string: Hello
Enter target: He
Start = True, End = False
```

Example 2
```
Enter string: ABCDDDABC
Enter target: ABC
Start = True, End = True
```

In [ ]:
# Implement check_first_last(string, target) below
def check_first_last(string, target):
    # fill in your code below
    start = string[:len(target)] == target
    end = string[-len(target):] == target
    return start, end

def main():
    string = input('Enter string: ')
    target = input('Enter target: ')
    fst, lst = check_first_last(string, target)
    print(f'First = {fst}, Last = {lst}')

main()

Enter string: ABCDDDABC
Enter target: ABC
First = True, Last = True

**Q20**: Jewels and Stones

จงเขียนฟังก์ชัน `count_jewels(jewels,stones)` ซึ่งรับสตริงสองตัว: `jewels` และ `stones` และนับว่ามีกี่ `stones` ที่เป็น `jewels` โดย `jewels` เป็นสตริงของตัวอักษรที่ระบุว่าตัวอักษรใดเป็นอัญมณี และ `stones` เป็นสตริงของตัวอักษร

ตัวอักษรมีความเป็นตัวพิมพ์ใหญ่-เล็ก (case sensitive) ดังนั้น "a" และ "A" จึงไม่ใช่ตัวเดียวกัน

Example 1:
```
Enter jewels: aA
Enter stones aAAbbbb
3
```
Explanation: There are two jewels, 'a' and 'A'. There is 1 'a' and 2 'A' in the stones so the total is 3.

Example 2:
```
Enter jewels: z
Enter stones: ZZ
0
```

Example 3:
```
Enter jewels: kKp
Enter stones: aaBkBcKcKcDDgkggkgpp
7
```

In [ ]:
# implement count_jewels(jewels, stones) here
def count_jewels(jewels, stones):
    # Args:
    #    - jewels (string)
    #    - stones (string)
    # Return: a number
    count = 0
    for s in stones:
      if s in jewels:
        count+=1
    return count

def main():
    jewels = input('Enter jewels: ')
    stones = input('Enter stones: ')
    print(count_jewels(jewels, stones))

main()

Enter jewels: kKp
Enter stones: aaBkBcKcKcDDgkggkgpp
7